/**
 * Scope general styles inside "browser-protect" class
 */
.browser-protect {
    color: #7bff68;
    background: #2e2e2e;
    font-family: 'Share Tech Mono', monospace;
}
    .browser-protect h1,
    .browser-protect h2,
    .browser-protect h3,
    .browser-protect h4,
    .browser-protect #h5 {
        font-weight: normal;
    }

    .browser-protect hr {
        border-color: #666666;
        color: #666666;
        border-style: solid;
        border-width: 1px;
    }

    .browser-protect label {}

    .browser-protect .tag {
        display: inline-block;
        padding: 5px;
        border-radius: 2px;
    }
        .browser-protect .tag.tag-success {
            background-color: #7bff68;
            color: #000000;
        }
        .browser-protect .tag.tag-danger {
            background-color: #ff2c2c;
            color: #ffffff;
        }
        .browser-protect .tag.tag-disabled {
            background-color: #888888;
            color: #eeeeee;
        }

    .browser-protect button, .browser-protect a.button,
    .browser-protect a.button:active,
    .browser-protect a.button:focus,
    .browser-protect a.visited {
        padding: 7px 12px;
        border-radius: 5px;
        background-color: #bbbbbb;
        color: #000000;
        font-weight: bold;
        cursor: pointer;
        font-family: 'Share Tech Mono', monospace;
        text-decoration: none;
        font-size: .9em;
        border-width: 3px;
        margin: .3em;
    }
    .browser-protect button:hover,
    .browser-protect a.button:hover {
        background-color: #eeeeee;
    }

    .browser-protect .actions {}
        .browser-protect .actions button.action-safe {
            font-weight: normal;
            background-color: #67d657;
            border-color: #7bff68;
        }
        .browser-protect .actions button.action-safe:hover {
            background-color: #7bff68;
        }
        .browser-protect .actions button.action-harmful {
            font-weight: normal;
            background-color: #cb2323;
            color: #ffffff;
            border-color: #ff2c2c;
        }
        .browser-protect .actions button.action-harmful:hover {
            background-color: #ff2c2c;
        }
        .browser-protect .actions button.action-review {
            font-weight: normal;
            color: #ffb15c;
            background-color: #555555;
            border-color: #999999;
        }
        .browser-protect .actions button.action-review:hover {
            background-color: #666666;
        }

    .browser-protect .align-left {
        float: left;
    }
    .browser-protect .align-right {
        float: right;
    }
    .browser-protect .clear-float {
        clear: both;
        display: block;
    }


    .browser-protect .result {
        display: inline-block;
        padding: 10px;
        text-transform: capitalize;
        font-weight: normal;
        border-radius: 3px;
    }
        .browser-protect .result.safe {
            background-color: #7bff68;
            color: #333;
        }
        .browser-protect .result.harmful {
            background-color: #ff2c2c;
            color: #ffffff;
        }
        .browser-protect .result.warning {
            background-color: #ffb15c;
            color: #333;
        }

    .browser-protect .after-harmful-actions {
        color: #ccc;
    }
        .browser-protect .after-harmful-actions .result {
            font-size: .9em;
            font-weight: normal;
        }

    .browser-protect .footer {
        color: #666666;
        position: fixed;
        bottom: 0;
        background: #000;
        width: 100%;
        text-align: center;
        z-index: 5;
    }
        .browser-protect .footer .bpText {
            font-weight: bold;
            font-style: italic;
            color: #7ae721;
        }
        .browser-protect .footer .logo {
            margin-bottom: -8px;
        }

    /**
     * Scope content overly within "bp" ID
     */
#bp {
    font-size: 17px;
    margin: 0;
    overflow: auto;
    text-align: center;
}
    #bp .main-content {
        margin: 100px 0;
    }
        #bp .main-content .message {}

        #bp .main-content .processing-training {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #333;
            z-index: 1;
        }
        #bp .main-content .loading {
            position: relative;
            top: 35%;
        }
            #bp .main-content .loading i {
                font-size: 30px;
                margin: 40px 20px;
                color: #666666;
            }
        #bp .main-content .complete {}

        #bp .main-content .complete .classification-model-details-container {
            font-size: .8em;
            color: #999;
        }

            #bp .main-content .complete .classification-actions-container {}
                #bp .main-content .complete .classification-actions-container .actions {
                    display: none;
                    color: #fff;
                }
                    #bp .main-content .complete .classification-actions-container .actions.after-harmful-actions {
                        color: #ccc;
                    }

            #bp .main-content .complete .classification-container {
                color: #ffffff;
            }
                #bp .main-content .complete .classification-container  h3 {
                    font-weight: normal;
                    display: inline-block;
                }
            #bp .main-content .complete .classification-message,
            #bp .main-content .complete .classification-required {
                font-size: .9em;
                font-weight: normal;
                color: #999;
                width: 800px;
                max-width: 90%;
                margin: auto;
            }
                #bp .main-content .complete .classification-message .result,
                #bp .main-content .complete .classification-required .result {
                    padding: 5px;
                    font-weight: normal;
                }
            #bp .main-content .complete .summary-container {
                display: none;
                text-align: left;
                color: #fff;
                width: 800px;
                margin: auto;
                font-size: .9em;
                max-width: 90%;
                border-top: #000 solid 1px;
            }
            #bp .main-content .complete .summary-container p {}
            #bp .main-content .complete .summary-container ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
                #bp .main-content .complete .summary-container ul li {
                        margin: 2px;
                        background: #555;
                        padding: 6px 12px;
                        display: inline-block;
                }
                    #bp .main-content .complete .summary-container ul li:nth-child(odd) {
                        background: #777;
                    }
    #bp .actions {
        margin: 2em;
    }
/**
 * Scope "browser_action" menu within "bp_menu" ID
 */
#bp_menu {
    width: 400px;
    font-size: 12px;
}
    #bp_menu.browser-protect button, #bp_menu.browser-protect a.button  {
        font-size: 1em;
        min-width: 100px;
    }
    #bp_menu hr {
        margin-bottom: 15px;
    }
    #bp_menu .bp-menu-login {}
        #bp_menu .bp-menu-login > div {
            margin: 15px;
        }
            #bp_menu .bp-menu-login > div label {
                font-size: 1.3em;
            }
            #bp_menu .bp-menu-login > div input {
                padding: 3px;
                border-radius: 2px;
            }
    #bp_menu .option {
        padding: 10px;
        background-color: #555;
    }
    #bp_menu .option:nth-child(odd) {
        background-color: #444;
    }
        #bp_menu .option .option-label {
            padding: 8px;
            float: left;
        }
        #bp_menu .option .option-actions {
            float: right;
        }
/**
 * Scope content overly within "bp_training" ID
 */
#bp_training {
    font-size: 17px;
    margin: 0;
    overflow: auto;
    text-align: center;
}
    #bp_training .main-content {
        position: relative;
        margin-top: 10px;
        min-height: 80px;
    }
    #bp_training .main-content .processing-training {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #333;
        z-index: 1;
    }
    #bp_training .main-content .loading {}
    #bp_training .main-content .loading h2 { margin: 10px; }
    #bp_training .main-content .loading i {
        font-size: 30px;
        margin: 10px 5px;
        color: #666666;
    }
    #bp_training .main-content .actions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
